---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Not found">
  <div class="prose">
    <h1>404</h1>
    <p>We couldn’t find that problem.</p>
    <a href="/" class="underline">Go back home</a>
  </div>
</Layout>
